<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="amqpUri" value="tatweer.fortiddns.com" />
    <add key="port" value="5672" />
    <add key="user" value="admin" />
    <add key="pass" value="admin" />
    <add key="speed" value="145" />
    <add key="period" value="5" />
    <!--<add key="amqpUri" value="localhost" />-->
  </appSettings>
</configuration>